/* Primary button styles */
.primary-btn {
  background-color: #35B5C9;
  color: white;
  border-radius: 20px;
  border: none ;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.primary-btn:hover {
  background-color: #025D73;
}
/* Secondary button styles */
.secondary-btn {
  color: #35B5C9;
  background-color: white;
  border-radius: 20px;
  border: 3px solid #76DAE4;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
/* Disabled button styles */
.disabled-btn {
  color: black;
  background-color: #C5FBFF;
  border-radius: 20px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
